button {
    border-radius: 6px;
    border: 1px solid transparent;
    border:1.5px solid #949494;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #0d0d0d;
    background-color:rgb(162, 164, 164);
    border: none;
  }
  button:hover {
    border-color: #0e0e0e;
    background-color: rgb(134, 133, 133);
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  