.input_div{
    width:100%;
    display:flex;
 
}
.text_todo{
    width:100%;
    margin-right: 2px;
    border-radius:6px;
    border:1px solid rgb(118, 117, 117);
    background-color: #ffffff;
    box-shadow: 1px 1px 1px rgb(155, 154, 154);
    padding:0px 13px;
}
button{
    margin-right: 2px;
}